
version: 2.1
orbs:
  go: circleci/go@1.1.1
jobs:

  build:
    docker:
      - image: circleci/golang:1.14
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build Oracle
          command: |
            docker build --target build -t oracle-build:${CIRCLE_SHA1} .
      - persist_to_workspace:
          root: .
          paths:
            - .

  tests:
    docker:
      - image: circleci/golang:1.14
        environment:
          ARTIFACTS: /tmp/artifacts
    steps:
      - attach_workspace:
          at: .
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Run unit-tests
          command: |
            mkdir -p ../reports && mkdir -p ../coverage
            docker volume create reports
            docker volume create coverage
            docker create \
              -v reports:/reports \
              -v coverage:/coverage \
              --name helper alpine:3.4 /bin/true
            docker build --target dev -t dev .
            docker run -v reports:/reports -v coverage:/coverage dev sh -c \
              'gotestsum --junitfile /reports/unit_test_report.xml \
              -- -coverprofile=/coverage/coverage.out $(go list ./... | grep -v /integration/)'
      - run:
          name: Recover tests results
          command: |
            docker cp  helper:/reports/. ../reports
            docker cp  helper:/coverage/. ../coverage
            docker rm helper --force --volumes
          when: always
      - store_artifacts:
         path: ../coverage
         destination: raw-test-output
      - store_test_results:
         path: ../reports/

  integration-tests:
    docker:
      - image: circleci/golang:1.14
    steps:
      - attach_workspace:
          at: .
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Setup configuration and volumes
          command: |
            docker volume create oracle-config #ensure same name in docker-compose.ci
            docker volume create db-certs
            docker volume create reports
            make gen-ssl-certs
            docker create \
              -v oracle-config:/config \
              -v db-certs:/certs \
              -v reports:/reports \
              --name helper alpine:3.4 /bin/true
            docker cp ./test/config/. helper:/config
            docker cp ./certs/db/. helper:/certs
            # adding permissions 
            docker-compose -f docker-compose.yml -f docker-compose.ci.yml run oracle-db bash -c \
              "chown postgres:postgres /certs/db.key && chgrp postgres /certs/db.key && chmod 600 /certs/db.key"
      - run:
          name: Start docker-compose service
          command: |
            docker-compose -f docker-compose.yml -f docker-compose.ci.yml up -d \
              oracle-server \
              oracle-db
      - run:
          name: Wait for oracle services
          command: |
            docker-compose -f docker-compose.yml -f docker-compose.ci.yml run dockerize \
             -wait tcp://oracle-server:8080
      - run:
          name: Run integration tests
          command: |
            docker-compose -f docker-compose.yml -f docker-compose.ci.yml run dev sh -c \
            'gotestsum --junitfile /reports/integration_report.xml \
            -- ./test/integration/... \
            -appname p2pdoracle \
            -e integration \
            -abs-config $(pwd)/test/config \
            -oracle-base-url oracle-server:8080'
      - run:
          name: Recover tests results
          command: |
            docker cp  helper:/reports/. ./reports
            docker rm helper --force --volumes
          when: always
      - store_test_results:
          path: reports/

workflows:
  build-test:
    jobs:
      - build
      - tests:
          requires:
            - build
      - integration-tests:
          requires:
            - tests
