server:
  address: "0.0.0.0:8080"
oracle:
  keyFile: /run/secrets/oracle_key
  keyPass:
    file: /run/secrets/oracle_key_pass
log:
  dir: _log
  output_stdout: true
  basename: unittest.log.%Y-%m-%d
  rotation_interval: PT24H
  rotation_counts: 7
  format: json
  level: info
database:
  log: false
  host: db
  port: 5432
  dbuser: postgres
  dbname: db
api:
  assets:
    btcusd:
      startDate: 2020-01-01T00:00:00Z
      frequency: PT1M
      range: P1MT
    btcjpy:
      startDate: 2020-01-01T00:00:00Z
      frequency: PT1M
      range: P1MT
datafeed:
  cryptoCompare:
    baseUrl: https://min-api.cryptocompare.com/data
